.container_check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 15px;
  color: #9013fe;
  font-family: Tahoma, Geneva, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 20%;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 1.5px solid #cacaca;
  border-radius: 50%;
}



/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container_check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container_check .checkmark:after {
 	top: 2px;
	left: 2px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #ff7e84;
}