.container_top_bar {position: relative; margin-top: 20px; padding: 20px; margin-right: auto; margin-left: auto; }
.container_page_body{position: relative;margin-right: auto;margin-left: auto;}
      .header img {float: left; position: relative; padding-left: 1%; padding-top: 1.5%; height: 50px; width: 130px; }
      .header a{
        color: black; 
        font-size:17px;
        padding: 5px;     
        margin-top: 3%;   
        text-decoration: none;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      }
      .menu_header_left {position: relative; float: left; margin-left: 5%;}
      .menu_header_middle {
        float: left;
        position: relative;
        margin-left: 15%;}
      .menu_header_right {
        position: relative;
        float: right; 
        margin-right: 3%;}

      .log_in{
        border-radius: 30px;
        border: 1.5px solid #b40ffe;
        padding: 20px;
      }
      .header a:hover{
          text-decoration: underline;
          text-decoration-color: #b40ffe;
      }
      .home_background {position: absolute; top: 170px; left: 0px;width: 100%; height: 100%;}
      .home_title {position: relative;left: 2%; margin-top: 6%; font-size: 60px; color: #b40ffe; font-family: Impact, Charcoal, sans-serif; }

      .learn_title{
        position: fixed;
        right: 3%;
        bottom: 10%;
        font-size: 20px; 
        color: #b40ffe; 
        font-family: Tahoma, Geneva, sans-serif;
        -webkit-animation-name: learn_slide; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
        animation-name: learn_slide;
        animation-duration: 3s;
      }
      @-webkit-keyframes learn_slide {
        0%   {right:-20%; bottom:10%;}
        100% {right:3%; bottom:10%;}
      }
      @keyframes learn_slide {
        0%   {right:-20%; bottom:10%;}
        100% {right:3%; bottom:10%;}
      }

      .plan_a_trip{
        bottom: 5%;
        right: 4%;
        width: 180px; 
        height: 40px;
        position: fixed;
        -webkit-animation-name: plan_a_trip_slide; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
        animation-name: plan_a_trip_slide;
        animation-duration: 3s;
      }
      @-webkit-keyframes plan_a_trip_slide {
        0%   {right:-20%; bottom: 5%;}
        100% {right: 4%; bottom: 5%;}
      }
      @keyframes plan_a_trip_slide {
        0%   {right:-20%; bottom: 5%;}
        100% {right: 4%;bottom: 5%;}
      }


      .home_sub_title{
        left: 3%; 
        top: 310px;
        position: absolute;
        font-size: 25px;
        color: #b40ffe; 
        font-family: Impact, Charcoal, sans-serif;
        -webkit-animation-name: slide_up_sub_title; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
        animation-name: slide_up_sub_title;
        animation-duration: 3s;
      }
      @-webkit-keyframes slide_up_sub_title {
        0%   {left:3%; top:120%;}
        100% {left:3%; top:310px;}
      }
      @keyframes slide_up_when_sub_title {
        0%   {left:3%; top:120%;}
        100% {left:3%; top:310px;}
      }


      

      .describe_card_slide{
        top: 150px;
        right: 3%;
        width: 600px; 
        height: 300px;
        position: absolute;
        -webkit-animation-name: slide_describe; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
        animation-name: slide_describe;
        animation-duration: 3s;
      }
      @-webkit-keyframes slide_describe {
        0%   {right:-50%; top:150px;}
        100% {right:3%; top:150px;}
      }
      @keyframes slide_describe {
        0%   {right:-50%; top:150px;}
        100% {right:3%; top:150px;}
      }

      .describe_card_slide_outside{
        top: 150px;
        right: -60%;
        width: 600px; 
        height: 300px;
        position: absolute;
        -webkit-animation-name: slide_describe_outside; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
        animation-name: slide_describe_outside;
        animation-duration: 2s;
      }
      @-webkit-keyframes slide_describe_outside {
        0%   {right:3%; top:150px;}
        100% {right:-60%; top:150px;}
      }
      @keyframes slide_describe_outside {
        0%   {right:3%; top:150px;}
        100% {right:-60%; top:150px;}
      }


      .when_card{
        position: absolute;
        top: 370px;
        left: 3%;
        display: block;
        width: 400px;
        height: 90px;
        overflow: hidden;
        background: #b057fe;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        cursor: pointer;
        -webkit-animation-name: slide_up_when; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
        animation-name: slide_up_when;
        animation-duration: 3s;
      }

       @-webkit-keyframes slide_up_when {
        0%   {left:3%; top:130%;}
        100% {left:3%; top:370px;}
      }
      @keyframes slide_up_when {
        0%   {left:3%; top:130%;}
        100% {left:3%; top:370px;}
      }

      .where_card{
        position: absolute;
        top: 470px;
        left: 3%;
        display: block;
        width: 400px;
        height: 90px;
        overflow: hidden;
        background: #d25db1;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        cursor: pointer;
        -webkit-animation-name: slide_up_where; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
        animation-name: slide_up_where;
        animation-duration: 3s;
      }

      @-webkit-keyframes slide_up_where {
        0%   {left:3%; top:140%;}
        100% {left:3%; top:470px;}
      }
      @keyframes slide_up_where {
        0%   {left:3%; top:140%;}
        100% {left:3%; top:470px;}
      }

      

      .who_card{
        top: 570px;
        left: 3%;
        width: 400px; 
        height: 90px;
        position: absolute;
        overflow: hidden;
        cursor: pointer;
        background: #ff7e84;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        -webkit-animation-name: slide_up_who; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
        animation-name: slide_up_who;
        animation-duration: 3s;
      }
      @-webkit-keyframes slide_up_who {
        0%   {left:3%; top:150%;}
        100% {left:3%; top:570px;}
      }
      @keyframes slide_up_who {
        0%   {left:3%; top:150%;}
        100% {left:3%; top:570px;}
      }




      
      .what_card{
        top: 670px;
        left: 3%;
        width: 400px; 
        height: 90px;
        position: absolute;
        overflow: hidden;
        cursor: pointer;
        background: #fce46a;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        -webkit-animation-name: slide_up_what; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
        animation-name: slide_up_what;
        animation-duration: 3s;
      }
      @-webkit-keyframes slide_up_what {
        0%   {left:3%; top:160%;}
        100% {left:3%; top:670px;}
      }
      @keyframes slide_up_what {
        0%   {left:3%; top:160%;}
        100% {left:3%; top:670px;}
      }

      .white_body{
        position: relative;
        float: right;
        height: 100%;
        width: 75%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      .what_options_pics{
        position: relative;
        width: 180px;
        height: 60%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      .what_options_titles{
        position: relative;
        float: left;
      }

      .what_options_titles h1{
        font-size: 20px;
        font-family: Impact, Charcoal, sans-serif;
        padding-right: 125px;
      }


      .card_white{
        position: relative;
        display: block;
        float: right;
        width: 75%;
        height: 100%;
        overflow: hidden;
        background: #ffffff;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
      }

      .card_logo{
        position: relative;
        height: 50px;
        width: 50px;
        margin-left: 20px;
        margin-top: 20px;
      }

      .card_description{
        position: relative;
        font-size: 15px;
        color: #c8c8c8;
        font-family: Impact, Charcoal, sans-serif;
        margin-left: 10px;
      }

      .card_title{
        position: relative;
        font-size: 25px; 
        color: #b40ffe; 
        font-family: Impact, Charcoal, sans-serif;
        top: 10px;
        left: 10px;
      }

      .hide{
        position: relative;
        float: right;
        visibility:hidden;
        display: none;
      }

      

      