.when_card_clicked{
        top: 140px;
        left: 3%;
        width: 95%; 
        height: 300px;
        background: #b057fe;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        position: absolute;
        -webkit-animation-name: clicked_when; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: clicked_when;
        animation-duration: 0.8s;
      }
      @-webkit-keyframes clicked_when {
        0%   {left:3%; width: 400px;height: 90px;}
        100% {left:3%; top:140px;width: 95%; height: 300px;}
      }
      @keyframes clicked_when {
        0%   {left:3%;width: 400px;height: 90px;}
        100% {left:3%; top:140px;width: 95%; height: 300px;}
      }

.when_card_clicked_up{
        top: 140px;
        left: 3%;
        width: 95%; 
        height: 300px;
        background: #b057fe;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        position: absolute;
        -webkit-animation-name: clicked_when_up; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: clicked_when_up;
        animation-duration: 0.8s;
      }
      @-webkit-keyframes clicked_when_up {
        0%   {left:3%; width: 400px;height: 90px;top: 370px;}
        100% {left:3%; top:140px;width: 95%; height: 300px;}
      }
      @keyframes clicked_when_up {
        0%   {left:3%;width: 400px;height: 90px;top: 370px;}
        100% {left:3%; top:140px;width: 95%; height: 300px;}
      }

.when_card_closed{
        top: 140px;
        left: 3%;
        width: 400px; 
        height: 90px;
        background: #b057fe;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        position: absolute;
        -webkit-animation-name: closed_when; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: closed_when;
        animation-duration: 0.8s;
      }
      @-webkit-keyframes closed_when {
        0%  {width: 95%; height: 300px;}
        100% {width: 400px;height: 90px;}
      }
      @keyframes closed_when {
        0%  {width: 95%; height: 300px;}
        100% {width: 400px;height: 90px;}
      }

.when_card_move_up{
        top: 140px;
        left: 3%;
        width: 400px; 
        height: 90px;
        background: #b057fe;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        position: absolute;
        -webkit-animation-name: when_move_up; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: when_move_up;
        animation-duration: 0.8s;
      }
      @-webkit-keyframes when_move_up {
        0%   {top: 370px;}
        100% {top: 140px;}
      }
      @keyframes when_move_up {
        0%   {top: 370px;}
        100% {top: 140px;}
      }


.where_card_clicked{
        top: 240px;
        left: 3%;
        width: 95%; 
        height: 300px;
        background: #d25db1;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        position: absolute;
        -webkit-animation-name: clicked_where; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: clicked_where;
        animation-duration: 0.8s;
      }
      @-webkit-keyframes clicked_where {
        0%   {top: 240px;width: 400px;height: 90px;}
        100% {top:240px;width: 95%; height: 300px;}
      }
      @keyframes clicked_where {
        0%   {top: 240px;width: 400px;height: 90px;}
        100% {top:240px;width: 95%; height: 300px;}
      }

.where_card_clicked_up{
        top: 240px;
        left: 3%;
        width: 95%; 
        height: 300px;
        background: #d25db1;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        position: absolute;
        -webkit-animation-name: clicked_where_up; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: clicked_where_up;
        animation-duration: 0.8s;
      }
      @-webkit-keyframes clicked_where_up {
        0%   {top: 460px;width: 400px;height: 90px;}
        100% {top:240px;width: 95%; height: 300px;}
      }
      @keyframes clicked_where_up {
        0%   {top: 460px;width: 400px;height: 90px;}
        100% {top:240px;width: 95%; height: 300px;}
      }


.where_card_closed_up{
        position: absolute;
        left: 3%;
        width: 400px; 
        height: 90px;
        top: 240px;
        background: #d25db1;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        position: absolute;
        -webkit-animation-name: closed_where; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: closed_where;
        animation-duration: 0.8s;
      }
      @-webkit-keyframes closed_where {
        0%   {width: 95%; height: 300px;}
        100% {width: 400px;height: 90px;}
      }
      @keyframes closed_where {
        0%   {width: 95%; height: 300px;}
        100% {width: 400px;height: 90px;}
      }

.where_card_closed_down{
        position: absolute;
        top: 460px;
        left: 3%;
        width: 400px; 
        height: 90px;
        background: #d25db1;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        -webkit-animation-name: closed_where_down; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: closed_where_down;
        animation-duration: 0.8s;
      }
      @-webkit-keyframes closed_where_down {
        0%   {width: 95%; height: 300px;top: 240px;}
        100% {width: 400px;height: 90px;top: 460px;}
      }
      @keyframes closed_where_down {
        0%   {width: 95%; height: 300px;top: 240px;}
        100% {width: 400px;height: 90px;top: 460px;}
      }

.where_card_move_up{
        top: 240px;
        left: 3%;
        width: 400px; 
        height: 90px;
        background: #d25db1;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        position: absolute;
        -webkit-animation-name: where_move_up; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: where_move_up;
        animation-duration: 0.8s;
      }
      @-webkit-keyframes where_move_up {
        0%   {top: 470px;}
        100% {top: 240px;}
      }
      @keyframes where_move_up {
        0%   {top: 470px;}
        100% {top: 240px;}
      }
.where_card_move_down{
        top: 470px;
        left: 3%;
        width: 400px; 
        height: 90px;
        background: #d25db1;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        position: absolute;
        -webkit-animation-name: where_move_down; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: where_move_down;
        animation-duration: 0.8s;
      }
      @-webkit-keyframes where_move_down {
        0%   {top: 240px;}
        100% {top: 470px;}
      }
      @keyframes where_move_down {
        0%   {top: 240px;}
        100% {top: 470px;}
      }

.who_card_clicked{
        top: 340px;
        left: 3%;
        width: 95%; 
        height: 300px;
        background: #ff7e84;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        position: absolute;
        -webkit-animation-name: clicked_who; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: clicked_who;
        animation-duration: 0.8s;
      }
      @-webkit-keyframes clicked_who {
        0%   {top: 340px;width: 400px;height: 90px;}
        100% {top:340px;width: 95%; height: 300px;}
      }
      @keyframes clicked_who {
        0%   {top: 340px;width: 400px;height: 90px;}
        100% {top:340px;width: 95%; height: 300px;}
      }

.who_card_clicked_climb{
		position: absolute;
        top: 340px;
        left: 3%;
        width: 95%; 
        height: 300px;
        background: #ff7e84;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        position: absolute;
        -webkit-animation-name: clicked_who_climb; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: clicked_who_climb;
        animation-duration: 0.8s;
      }
      @-webkit-keyframes clicked_who_climb {
        0%   {width: 400px;height: 90px;top: 570px;}
        100% {width: 95%; height: 300px;top: 340px;}
      }
      @keyframes clicked_who_climb {
        0%   {width: 400px;height: 90px;top: 570px;}
        100% {width: 95%; height: 300px;top: 340px;}
      }




.who_card_closed_down{
        position: absolute;
        top: 570px;
        left: 3%;
        width: 400px; 
        height: 90px;
        background: #ff7e84;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        position: absolute;
        -webkit-animation-name: closed_who_down; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: closed_who_down;
        animation-duration: 0.8s;
      }
      @-webkit-keyframes closed_who_down {
        0%   {width: 95%; height: 300px;top: 340px;}
        100% {width: 400px;height: 90px;top: 570px;}
      }
      @keyframes closed_who_down {
        0%   {width: 95%; height: 300px;top: 340px;}
        100% {width: 400px;height: 90px;top: 570px;}
      }

.who_card_move_up{
        top: 340px;
        left: 3%;
        width: 400px; 
        height: 90px;
        background: #ff7e84;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        position: absolute;
        -webkit-animation-name: who_move_up; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: who_move_up;
        animation-duration: 0.8s;
      }
      @-webkit-keyframes who_move_up {
        0%   {top: 570px;}
        100% {top: 340px;}
      }
      @keyframes who_move_up {
        0%   {top: 570px;}
        100% {top: 340px;}
      }

.who_card_move_down{
        top: 570px;
        left: 3%;
        width: 400px; 
        height: 90px;
        background: #ff7e84;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        position: absolute;
        -webkit-animation-name: who_move_down; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: who_move_down;
        animation-duration: 0.8s;
      }
      @-webkit-keyframes who_move_down {
        0%   {top: 340px;}
        100% {top: 570px;}
      }
      @keyframes who_move_down {
        0%   {top: 340px;}
        100% {top: 570px;}
      }

.who_card_closed_up{
        position: absolute;
        top: 340px;
        left: 3%;
        width: 400px; 
        height: 90px;
        background: #ff7e84;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        position: absolute;
        -webkit-animation-name: closed_who_up; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: closed_who_up;
        animation-duration: 0.8s;
      }
      @-webkit-keyframes closed_who_up {
        0%   {width: 95%; height: 300px;}
        100% {width: 400px;height: 90px;}
      }
      @keyframes closed_who_up {
        0%   {width: 95%; height: 300px;}
        100% {width: 400px;height: 90px;}
      }


.what_card_clicked{
        top: 440px;
        left: 3%;
        width: 95%; 
        height: 300px;
        background: #fce46a;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        position: absolute;
        -webkit-animation-name: clicked_what; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: clicked_what;
        animation-duration: 0.8s;
      }
      @-webkit-keyframes clicked_what {
        0%   {top: 670px;width: 400px;height: 90px;}
        100% {top:440px;width: 95%; height: 300px;}
      }
      @keyframes clicked_what {
        0%   {top: 670px;width: 400px;height: 90px;}
        100% {top:440px;width: 95%; height: 300px;}
      }

.what_card_closed_down{
        position: absolute;
        top: 670px;
        left: 3%;
        width: 400px; 
        height: 90px;
        background: #fce46a;
        border-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        position: absolute;
        -webkit-animation-name: closed_what_down; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: closed_what_down;
        animation-duration: 0.8s;
      }
      @-webkit-keyframes closed_what_down {
        0%   {width: 95%; height: 300px;top: 440px;}
        100% {width: 400px;height: 90px;top: 670px;}
      }
      @keyframes closed_what_down {
        0%   {width: 95%; height: 300px;top: 440px;}
        100% {width: 400px;height: 90px;top: 670px;}
      }

.big_card_white{
        position: relative;
        display: block;
        float: right;
        width: 90%;
        height: 100%;
        overflow: hidden;
        background: #ffffff;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        -webkit-animation-name: big_card_white_big; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: big_card_white_big;
        animation-duration: 0.8s;
      }
@-webkit-keyframes big_card_white_big {
       	0%   {width: 75%;}
        100% {width: 90%; }
      }
      @keyframes big_card_white_big {
        0%   {width: 75%;}
        100% {width: 90%; }
      }


.big_card_white_closed{
        position: relative;
        display: block;
        float: right;
        width: 75%;
        height: 100%;
        overflow: hidden;
        background: #ffffff;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        -webkit-animation-name: big_card_white_closed; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
        animation-name: big_card_white_closed;
        animation-duration: 0.8s;
      }
@-webkit-keyframes big_card_white_closed {
       	0%   {width: 90%;}
        100% {width: 75%; }
      }
      @keyframes big_card_white_closed {
        0%   {width: 90%;}
        100% {width: 75%; }
      }